.task-todo{

display: flex;
justify-content: space-around;
flex-wrap: wrap;
/* align-items: center; */
min-height: 100vh;
}

.main-container{
    min-height: 80vh;
    background-color: bisque;
}

.main-container .todo-heading{
    text-align: center;
    background-color: #ff9999;
    color: white;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 40px;
}
.tast-input{
    width: 400px;
  padding: 15px;
  border-radius: 30px 10px;
  margin: 30px 10px;
  border: none;
  font-size: 17px;
  color: #f90b0b;
  border: 2px solid #f99;
}

.input-container{
text-align: center;
}

.input-container button{
    text-align: center;
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    background-color: #ff9999;
    color: white;
    border-radius: 10px;
}

.task-sub-heading{
    text-align: center;
    font-size: 30px;
}